@layer base {
  .container {
    @apply row-auto 
    my-[var(--container-spacing)] 
    grid
    grid-cols-4
    gap-x-[var(--col-gap)]
    gap-y-0
    space-y-[var(--container-row-spacing)]
    px-[var(--site-side-spacing)];
    @screen lg {
      @apply my-[var(--container-spacing-lg)] 
      grid-cols-12
      gap-x-[var(--col-gap-lg)]
      space-y-[var(--container-row-spacing-lg)]
      px-[var(--site-side-spacing-lg)];
    }
    &--background {
      @apply py-[var(--container-spacing)];
      @screen lg {
        @apply py-[var(--container-spacing-lg)];
      }
    }
    &--margin {
      &-top-small {
        margin-top: calc(var(--container-spacing) / 2);
        @screen lg {
          margin-top: calc(var(--container-spacing-lg) / 2);
        }
      }
      &-small {
        margin-block: calc(var(--container-spacing) / 2);
        @screen lg {
          margin-block: calc(var(--container-spacing-lg) / 2);
        }
      }
      &-bottom-small {
        margin-bottom: calc(var(--container-spacing) / 2);
        @screen lg {
          margin-bottom: calc(var(--container-spacing-lg) / 2);
        }
      }
    }

    &__heading {
      @apply col-span-4 lg:col-span-10 lg:col-start-2;
      &.text {
        &-center {
          @apply after:left-1/2 after:-translate-x-1/2;
        }
        &-right {
          @apply after:left-auto after:right-0;
        }
      }
    }
    &__intro {
      @apply col-span-4 lg:col-span-12;
    }
    &__main {
      @apply col-span-4 space-y-12 lg:col-span-12;
    }
    &__footer {
      @apply col-span-4 text-right lg:col-span-8 lg:col-start-3;
    }
  }
}
