@layer base {
  :root {
    /* 
     * Colors
     */
    --color-primary: theme(colors.primary.DEFAULT);
    --color-text-on-primary: theme(colors.primary.5);
    --color-primary-5: theme(colors.primary.5);
    --color-text-on-primary-5: theme(colors.primary.DEFAULT);
    --color-accent: theme(colors.accent.DEFAULT);
    --color-text-on-accent: theme(colors.primary.5);

    --color-link: theme(colors.accent.DEFAULT);

    /* 
     * Spacings
     */
    // Site side spacing
    --site-side-spacing: theme(spacing.5);
    --site-side-spacing-lg: theme(spacing.16);

    // Container
    --container-spacing: theme(spacing.20);
    --container-spacing-lg: theme(spacing.32);

    --container-row-spacing: theme(spacing.10);
    --container-row-spacing-lg: theme(spacing.10);

    // Element
    --element-spacing: theme(spacing.4);

    /* 
     * Grid/Flex
     */
    // Col gaps
    --col-gap: theme(gap.5);
    --col-gap-lg: theme(gap.5);

    // Row gaps
    --row-gap: theme(gap.5);
    --row-gap-lg: theme(gap.5);
  }
}
